.Header aside {
    margin: 2rem 0;
}
.Header aside .logo {
    text-align: center;
    font-size: 1.2rem;
    color: #D0D0D0;
    margin-bottom: 1.3rem;
}

.Header aside ul li a {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.4rem 0;
    color: #D0D0D0;
}

.Header aside ul li a:hover,
.Header aside ul li a:active {
    background-color: #1976D2;
}
.Header aside ul li a.active {
    background-color: #1976D2;
}
